<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBp8Xw810Hq_XZW41-aSCAxAXJIBimPy0U</string>
	<key>GCM_SENDER_ID</key>
	<string>521297678947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mavilleprototype2</string>
	<key>PROJECT_ID</key>
	<string>communi-link-ma-v-ille2-0dtppg</string>
	<key>STORAGE_BUCKET</key>
	<string>communi-link-ma-v-ille2-0dtppg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521297678947:ios:8ba8d988b0e5f1ad0f9e56</string>
</dict>
</plist>